.backbtn {
    background-color: #0056b3;
    color: #fff;
    padding:10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top:70px;
    margin-left:1100px;
    font-size:12px;
    border-color: #0056b3;
    cursor:pointer;
  
  }
  .backbtn:hover {
    background-color:rgb(48, 126, 209);
  }
  .logout1{
    background-color: #0056b3;
    color: #fff;
    padding:10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top:70px;
    margin-left:30px;
    font-size:12px;
    border-color: #0056b3;
    cursor:pointer;
  
  }
  .logout1:hover {
    background-color:rgb(48, 126, 209);
  }

  .btncls{
  display:flex;
  }