.image{
    position: sticky;
    background-image: url('login.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:auto;
    height:900px;
    padding:50px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppings",sans-serif;
}
.a{
    
    color:aqua;
    font-size:large;
}
.design{
    top:0;
    left:200px;
    margin-top:50px;
    width:500px;
    height:400px;
    padding-top:10px;
    margin-top:40px;
    background-color:rgb(46,255,255);
    border-radius:10px;
    background:rgba(254,254,254,0.4);
    box-shadow:0px 4px 10px rgba(2,2,2,0.4);
    display:flex;
    margin-left:60%;
}
.b{
    color:white;
    font-size:medium;
    text-align:center;
    padding:10px;
}
.b .input-box{
    width:70%;
    height:20%;
    margin:10px 0;
    margin-left: 60px;   
}
.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius:40px;
    font-size:16px;
    color:#fff;
    padding: 20px 45px 20px 20px;  
} 
.input-box input::placeholder{
    color: aliceblue;   
}
  .input-box i {
    right:170px;
    top:15%;
    transform: translateY(-200%);
    font-size:25px;
    left:200%;
    margin-left:300px; 
    margin-top:10px;
}
.b .remember-forget{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin:10px 0; 
    padding-right: 30px;
    gap: 20px;
    align-content:last  baseline;
    margin-right: 90px;   
}
.remember-forget label input{
    background-color: #fff;
    accent-color: #fff;
    margin-left:3px;
}
.remember-forget a{
    color:#fff;
    text-decoration:none;
}
.remember-forget a:hover{
    text-decoration:underline;
}
.b .btn{
   margin-top: 20px; 
    width: 200px;
    height:45px;
    padding:10px;
    background-color:aqua;
    color:block;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0, 0,0,.1);
    cursor:poiter;
    font-size:16px;
    margin-left:0px;
    font-weight: 500;   
}
.btn:hover{
    background-color:aquamarine;
}
p{
    margin-top:10px;
    font-size:14px;
}
p a{
    color:aquamarine;
    text-decoration:none;
}
p a:hover{
    text-decoration:underline;
}
.b .register-link{
    font-size:14.5px;
    text-align:center;
    margin:20px 0 15px;
    margin-left: 20px;
}
.register-link p a{
    color:#fff;
    text-decoration:none;
    font-weight:600;   
}
.register-link p a:hover{
    text-decoration:underline;
}
.form-group{
    position: relative;
  }
  .form-group input,
  .form-group select{
    width:350px;
    padding:20px;
    padding-right:30px;
    border:1px solid #ccc;
    border-radius:10px;
    box-sizing:border-box;
  }
  .required-star{
     position:absolute;
     right:10px;
     top:20%;
     transform:translateY(-50%);
     color:red;
     font-size:20px;
     pointer-events:none;
     margin-left: 30px;
  }





